*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    background: #796ab8;
}
.box-rules{
    height:600px;
    width: 450px;
    background: #c1c1c1;
    border-radius: 40px;
    text-align: center;
    padding: 20px;
}
.box-his{
    height:600px;
    width: 450px;
    background-color: #c1c1c1;
    border-radius: 40px;
    text-align: center;
    padding:  30px 20px 20px 20px;
}
.box-mid{
    height: 650px;
    width: 500px;
    border-radius: 40px;
    background-color: #c1c1c1;
    padding: 30px;
    text-align: center;
    box-shadow:inset -3px -3px 7px #16151542,
    inset 3px 3px 10px rgba(0, 0, 0, 0.919) ;
}
.div{
    height: 50px;
    width: 50px;
    background-color: rgb(113, 176, 203);
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    box-shadow: -3px -3px 7px #16151542,
    3px 3px 10px rgba(0, 0, 0, 0.919) ;

}

.digit{
    padding:20px;
    display: flex;
    justify-content:center;
    gap: 6px;
    align-items:center;
}
.guessbox{
    background-color: pink;
    height: 300px;
    width: 450px;
    margin-top: 50px;
    text-align: center;
    padding-top: 40px;
}
.submit{
    padding: 50px;
}
#btn{
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: yellowgreen;
    box-shadow: -3px -3px 7px #16151542,
     3px 3px 10px rgba(0, 0, 0, 0.919) ;
   
}
ul.bullet{
    list-style: square;
    text-align: left;
    font-weight: bold;
    font-size: larger;
}
ul li{
    margin-bottom: 20px;
}
.rules{
    padding: 30px;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-top: 50px;
}
.guess{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: -3px -3px 7px #16151542,
    3px 3px 10px rgba(0, 0, 0, 0.919) ;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.input ::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.error{
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#errmsg {
    height: 50px;
    width: 200px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.slno {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    background: rgba(255, 192, 203, 0.457);
    border-radius: 10px;
    border: solid 2px rgb(174, 92, 105);
}

.occ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    background: rgba(192, 235, 105, 0.557);
    border-radius: 10px;
    border: solid 2px rgb(106, 136, 36);
}

.pos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    background: rgba(10, 145, 235, 0.308);
    border-radius: 10px;
    border: solid 2px rgb(14, 97, 148);
}

.row {
    display: flex;
    justify-content: space-evenly;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-weight: bold;
}